.login {
	background-color : white;
	opacity:0.7; 
	border-radius:15px; 
}

.tour-warp {
  background: url("/assets/tour_bg.jpg") center top no-repeat;
}

/*.tour-warp .tour-banner {
  width: 980px;
  height: 450px;
  margin: 0 auto;
  position: relative;
}*/
